{{>header}}



{{#each techs}}
  <a href = './technology/{{this.name}}'><h3>Technology: {{name}}<h3></a>
  {{!-- <li>Description: {{description}}</li> --}}
  <li>Language: {{language}}</li>
  {{!-- <li>Author: {{author}}</li> --}}
  {{!-- <li>Rating: {{rating}}</li> --}}
</ul>
{{/each}}

<a href = "./add-tech">Add-tech</a>
<a href = "./technology">Tech-Info</a>
