{{>header}}



{{#each techs}}
<ul>
  <li><h3>{{name}}<h3></li>
  <li>{{description}}</li>
  <li>{{language}}</li>
  <li>{{author}}</li>
  <li>{{rating}}</li>
</ul>
{{/each}}

<a href = "./add-tech">Add-tech</a>
<a href = "./technology">Tech-Info</a>
