{{>header}}


<body>


{{#each techs}}
<section id='tech'>
  <ul>
    <h3>{{name}}<h3>
    <li>{{description}}</li>
    <li>{{language}}</li>
    <li>{{author}}</li>
    <li>{{rating}}</li>
  </ul>
</section>

{{/each}}
</body>
<a href = "./add-tech">Add-tech</a>
<a href = "./tech-info">Tech-Info</a>
