<<<<<<< HEAD
{{> header}}
<a href = "/">Home</a>
=======

>>>>>>> 0270e1a26ae539b85b88d5e19cd0302a732f90b1
<h2>tech info</h2>
{{#each tech}}
<ul>
  <p><h3>{{name}}<h3></p>
  <p>{{description}}</p>
  <p>{{language}}</p>
  <p>{{author}}</p>
  <p>{{rating}}</p>
</ul>
{{/each}}
