{{>header}}

<h2>tech info</h2>
{{#each tech}}
<ul>
  <li><h3>{{name}}<h3></li>
  <li>{{description}}</li>
  <li>{{language}}</li>
  <li>{{author}}</li>
  <li>{{rating}}</li>
</ul>
{{/each}}
<a href = "./add-tech">Add a tech</a>
